    <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" | prepend: site.baseurl }}"></script>

    <!-- The clock in motion -->
    <script src="{{ "/js/jquery.svginject.js" | prepend: site.baseurl }}"></script>
    
    <!-- The photo gallery script -->
    <script src="{{ "/js/blueimp-gallery.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/gallery_comments.js" | prepend: site.baseurl }}"></script>
    
    <script> document.getElementById('links').onclick = function (event) {
	event = event || window.event;
	var target = event.target || event.srcElement,
	    link = target.src ? target.parentNode : target,
	    options = {index: link, event: event},
	    links = this.getElementsByTagName('a');
	blueimp.Gallery(links, options);
    }; </script>
    