 <!-- About Section -->
    <section class="success" id="liste">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Liste de mariage</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Pour ceux qui voudraient participer, nous mettrons en ligne une liste de mariage dès que possible. Nous ne sommes pas encore très à jour, mais vous pourrez y accéder d'ici quelques semaines.  </p>
                </div>
                <div class="col-lg-4">
                    <p> Merci ! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> To be completed..
                    </a>
                </div>
            </div>
        </div>
    </section>
