 <!-- About Section -->
    <section class="success" id="liste">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Liste de mariage</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Pour ceux qui voudraient participer, vous trouverez ici notre liste avec quelques idées de cadeaux.
                    Ce n'est pas exhaustif, si vous tenez à vous débarasser de nous pendant un ou deux ans et avez un <a style="color: rgb(255,255,255)" href="http://www.finot.com/bateaux/batproduction/alubat/cigale16/cigal16.htm">Cigale 16</a> 
                    qui prend la poussière, on peut vous aider !</p>
                </div>
                <div class="col-lg-4">
                    <p> Merci beaucoup en tout cas, de votre présence et de vos pensées ! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.millemercismariage.com/mariebenjamin/liste.html" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Liste
                    </a>
                </div>
            </div>
        </div>
    </section>
