<!-- Portfolio Grid Section -->
<section id="photos">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
	<h2>Photos</h2>
	<hr class="star-primary">
	<h3>Pour ceux que l'on n'a pas eu la chance de voir ces derniers temps, voilà à quoi on était occupés ! (entre autres..)</h3>
      </div>            
    </div>
  </div>
</section>

<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <p class="description"></p>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<div id="links">
  <a href="img/photos/ben_cratere.jpg" title="Ile de la Réunion, octobre 2012" data-gallery><img src="img/photos/tn/ben_cratere.tn.jpg" alt="ben_cratere.jpg" /></a>
  <a href="img/photos/DSC2984.jpg" title="Piton des neiges, île de la Réunion, octobre 2012" data-gallery><img src="img/photos/tn/DSC2984.tn.jpg" alt="DSC2984.jpg" /></a>
  <a href="img/photos/DSC3321.jpg" title="Rivière des galets, île de la Réunion, octobre 2012" data-gallery><img src="img/photos/tn/DSC3321.tn.jpg" alt="DSC3321.jpg" /></a>
  <a href="img/photos/DSC_3410.jpg" title="Le grand Area, Alpes, été 2014" data-gallery><img 
  src="img/photos/tn/DSC_3410.tn.jpg" alt="DSC_3410.jpg" /></a>
  <a href="img/photos/DSC4088.jpg" title="Rothéneuf, mars 2013" data-gallery><img src="img/photos/tn/DSC4088.tn.jpg" alt="DSC4088.jpg" /></a>
  <a href="img/photos/DSC5455.jpg" title="Rivière de Morlaix, été 2013" data-gallery><img src="img/photos/tn/DSC5455.tn.jpg" alt="DSC5455.jpg" /></a>
  <a href="img/photos/DSCN1479.jpg" title="Bretagne sud en Grand Surprise, mai 2010" data-gallery><img src="img/photos/tn/DSCN1479.tn.jpg" alt="DSCN1479.jpg" /></a>
  <a href="img/photos/DSC5696.jpg" title="L’Aber Wrac’h, été 2013" data-gallery><img 
  src="img/photos/tn/DSC5696.tn.jpg" alt="DSC5696.jpg" /></a>
  <a href="img/photos/DSC5734.jpg" title="Bretagne nord, été 2013" data-gallery><img src="img/photos/tn/DSC5734.tn.jpg" alt="DSC5734.jpg" /></a>
  <a href="img/photos/IMG_1832.jpg" title="Nyhavn, Copenhague, septembre 2014" data-gallery><img src="img/photos/tn/IMG_1832.tn.jpg" alt="img/photos/IMG_1832.jpg" /></a>
  <a href="img/photos/DSC6999.jpg" title="Bergen, Norvège, avril 2014" data-gallery><img 
  src="img/photos/tn/DSC6999.tn.jpg" alt="DSC6999.jpg" /></a>
  <a href="img/photos/DSC7171.jpg" title="Bergen, Norvège, avril 2014" data-gallery><img 
  src="img/photos/tn/DSC7171.tn.jpg" alt="DSC7171.jpg" /></a>
  <a href="img/photos/P1090529.jpg" title="Sur les routes de Bretagne nord, été 2013" data-gallery><img src="img/photos/tn/P1090529.tn.jpg" alt="P1090529.jpg" /></a>
  <a href="img/photos/DSC2972.jpg" title="Bivouac au Piton des neiges, île de la Réunion, octobre 2012" data-gallery><img src="img/photos/tn/DSC2972.tn.jpg" alt="DSC2972.jpg" /></a>
  <a href="img/photos/DSC7752.jpg" title="îles Lofoten, 68 degrés Nord, juillet 2014" data-gallery><img src="img/photos/tn/DSC7752.tn.jpg" alt="DSC7752.jpg" /></a>
  <a href="img/photos/DSC9193.jpg" title="Sifnos, Grèce, septembre 2011" data-gallery><img 
  src="img/photos/tn/DSC9193.tn.jpg" alt="DSC9193.jpg" /></a>
  <a href="img/photos/IMG_1891.jpg" title="Le Kastellet, Copenhague, septembre 2014" data-gallery><img src="img/photos/tn/IMG_1891.tn.jpg" alt="img/photos/IMG_1891.jpg" /></a>
  <a href="img/photos/DSC7734.jpg" title="îles Lofoten, juillet 2014" data-gallery><img src="img/photos/tn/DSC7734.tn.jpg" alt="DSC7734.jpg" /></a>
  <a href="img/photos/DSC9272.jpg" title="Grèce, septembre 2011" data-gallery><img 
  src="img/photos/tn/DSC9272.tn.jpg" alt="DSC9272.jpg" /></a>
  <a href="img/photos/P1100835.jpg" title="îles Lofoten, juillet 2014" data-gallery><img src="img/photos/tn/P1100835.tn.jpg" alt="P1100835.jpg" /></a>
  <a href="img/photos/DSC9359.jpg" title="Sifnos, Grèce, septembre 2011" data-gallery><img 
  src="img/photos/tn/DSC9359.tn.jpg" alt="DSC9359.jpg" /></a>
  <a href="img/photos/DSC7948.jpg" title="îles Lofoten, juillet 2014" data-gallery><img src="img/photos/tn/DSC7948.tn.jpg" alt="DSC7948.jpg" /></a>
  <a href="img/photos/P1050775.jpg" title="Paros, Grèce, septembre 2011" data-gallery><img src="img/photos/tn/P1050775.tn.jpg" alt="P1050775.jpg" /></a>
  <a href="img/photos/marie_bateau.jpg" title="à la barre du 36.7, Marseille, juin 2011" data-gallery><img src="img/photos/tn/marie_bateau.tn.jpg" alt="marie_bateau.jpg" /></a>
  <a href="img/photos/marie_cratere.jpg" title="Piton de la Fournaise, île de la Réunion, octobre 2012" data-gallery><img src="img/photos/tn/marie_cratere.tn.jpg" alt="marie_cratere.jpg" /></a>
  <a href="img/photos/P1050802.jpg" title="Grèce, septembre 2011" data-gallery><img src="img/photos/tn/P1050802.tn.jpg" alt="P1050802.jpg" /></a>
  <a href="img/photos/P1090630.jpg" title="Camping de Ménéham, Bretagne nord, été 2013" data-gallery><img src="img/photos/tn/P1090630.tn.jpg" alt="P1090630.jpg" /></a>
  <a href="img/photos/marieben_cratere.jpg" title="Piton de la Fournaise, île de la Réunion, octobre 2012" data-gallery><img src="img/photos/tn/marieben_cratere.tn.jpg" alt="marieben_cratere.jpg" /></a>
  <a href="img/photos/P1090663.jpg" title="Ménéham, Bretagne nord, été 2013" data-gallery><img src="img/photos/tn/P1090663.tn.jpg" alt="P1090663.jpg" /></a>
  <a href="img/photos/P1100805.jpg" title="îles Lofoten, juillet 2014" data-gallery><img src="img/photos/tn/P1100805.tn.jpg" alt="P1100805.jpg" /></a>
  <a href="img/photos/P1100845.jpg" title="îles Lofoten, juillet 2014" data-gallery><img src="img/photos/tn/P1100845.tn.jpg" alt="P1100845.jpg" /></a>
</div>

