<!-- Portfolio Grid Section -->
<section id="photos">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
	<h2>Photos</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>
  </div>
  
  <div id="links">
    <a href="img/photos/marieben_cratere.jpg" title="Banana">
        <img src="img/photos/thumbs/marieben_cratere.jpg" alt="Banana">
    </a>
    <a href="img/photos/marie_cratere.jpg" title="top">
        <img src="img/photos/thumbs/marie_cratere.jpg" alt="top">
    </a>
    <a href="img/photos/ben_cratere.jpg" title="tip">
        <img src="img/photos/thumbs/ben_cratere.jpg" alt="tip">
    </a>
    <a href="img/photos/marie_bateau.jpg" title="blabla">
        <img src="img/photos/thumbs/marie_bateau.jpg" alt="blabla">
    </a>
  </div>
</section>
